#root {
  .container {
    width: 90%;
    max-width: 1400px;
  }
  .btn {
    a {
      color: white;
    }
  }
  a {
    color: rgb(33, 37, 41);
  }
  .allEvents {
    .filterItem {
      width: 100%;
      display: flex;
      align-items: center;
      justify-self: center;
      form {
        width: 80%;
        label {
          width: 80%;
          margin: auto;
        }
      }
      input {
        width: 80%;
        padding: 10px;
        border: 2px solid rgb(33, 37, 41);
        border-radius: 5px;
        margin-bottom: 10px;
        font-family: inherit;
      }
    }
  }
}
